{% extends 'base.html' %} 

{% block content %}
    <style>
        /* Gaya untuk judul "Add New Product" */
        h1 {
            text-align: center;
            color: #333;
        }

        /* Gaya untuk form */
        form {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px #aaa;
        }

        /* Gaya untuk tabel form */
        table {
            width: 100%;
        }

        /* Gaya untuk input */
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        /* Gaya untuk tombol "Add Product" */
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
    
    <h1>Add New Product</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add Product"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
