{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .custom-container {
        background: #f7f7f7;
        padding: 20px;
    }

    .custom-card {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 400px; /* Sesuaikan lebar sesuai kebutuhan Anda */
        margin: 0 auto; /* Untuk mengatur ke tengah */
    }

    .custom-heading {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-align: center; /* Agar teks sejajar ke tengah */
    }

    .custom-label {
        font-size: 16px;
        color: #555;
    }

    .custom-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 0;
    }

    .custom-button {
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        display: block; /* Agar tombol ada di tengah */
        margin: 0 auto; /* Agar tombol ada di tengah */
    }
</style>

<div class="custom-container">
    <div class="custom-card">
        <h1 class="custom-heading">Add New Product</h1>
        <form method="POST">
            {% csrf_token %}
            <label class="custom-label" for="id_name">Name</label>
            <input type="text" name="name" class="custom-input" maxlength="255" required id="id_name"
                value="{{form.instance.name}}" />

            <label class="custom-label" for="id_amount">Amount</label>
            <input type="number" name="amount" id="id_amount" class="custom-input" required
                value="{{form.instance.amount}}" />

            <label class="custom-label" for="id_description">Description</label>
            <textarea name="description" cols="20" rows="10" required="" id="id_description" data-gramm="false"
                wt-ignore-input="true" class="custom-input">{{form.instance.description}}</textarea>

            <div class="text-center">
                <button class="custom-button" type="submit">Add Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
