{% extends 'base.html' %}

{% block content %}
    <h1>Welcome To {{name}}'s Inventory!</h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Name:</h5>
            <p class="card-text">{{ name }}</p>

            <h5 class="card-title">Class:</h5>
            <p class="card-text">{{ class }}</p>
        </div>
    </div>  

    <table style="width: 100%; margin-top: 20px;">
        <tr>
            <th style="padding-right: 20px;">Name</th>
            <th style="padding-right: 20px;">Amount</th>
            <th style="padding-right: 20px;">Description</th>
            <th style="padding-right: 20px;">Date Added</th>
        </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td style="padding-right: 20px;">{{product.name}}</td>
            <td style="padding-right: 20px;">{{product.amount}}</td>
            <td style="padding-right: 20px;">{{product.description}}</td>
            <td style="padding-right: 20px;">{{product.date}}</td>
        </tr>
    {% endfor %}
</table>

<br />
<div style="margin-top: 20px;">
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
</div>

<div style="margin-top: 20px;">
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
</div>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}